.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
p{
margin: 0px;
}
.card{
  width: 95%;
  margin: auto;
    /* border: 1px solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.card_container{
  display: flex;
    margin: 10px;
    width: 330px;
    background: #dfdfdf;
    border-radius: 9px;

}
.card_container .image {
  width:100px ;
  margin-right: 20px;
  margin-block:  auto;
}
.card_container .image img {
  width:100%;
  object-fit: contain;
    border-radius: 9px;
}
.card_container .show_btn{
  margin-top: 20px;
    padding: 2px 20px;
    color: #818981;
    font-weight: bolder;
    border: noen;
    border: none;
    background: #dfdfdf;
    border-radius: 5px;
    text-align: center;
}

.navbar{
  background: #dfdfdf;
    padding-inline: 20px;
    position: sticky;
    top: 0px;
    z-index: 3;
}

.info_container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.info_container .image_card{
  width: 230px;
}
.info_container .image_card img{
  width: 100%;
  object-fit: contain;
  border-radius: 9px;
}
.info_container .home{
  border: 1px solid;
    width: 500px;
    z-index: 4;
    background-color: red;
    background-color: #dfdfdf;
    padding: 10px;
    border: none;
    border-radius: 9px;
    box-shadow: 2px 3px 12px 2px gray;
}